.App{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(224, 217, 208);
}

.app_body{
    display: flex;
    background-color: rgb(225, 229, 233);
    margin-top: -40px ;
     height: 90vh; /* height will be 90% */
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}